# Environment variables
.env
.env.local
.DS_Store

# Secret data and Session tokens
*.db
*_session/
*_session

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build outputs
dist/
build/
coverage/

# IDE settings
.vscode/
.idea/
